<div class="container-fluid mt--7">
  <div class="d-flex justify-content-center">
    <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
      <div class="d-flex justify-content-center">
        <div class="pt-0 pt-md-4 col-xl-8 justify-content-center">
          <div class="card shadow p-5">
            <div class="text-center">
              <h3>{{ user.firstname }} {{ user.lastname }}</h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{ user.cin }}
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i
                >{{ user.role | uppercase }}
              </div>
              <div>
                <i class="ni ni-email-83 text-red-insat"> </i> &nbsp;
                {{ user.email }}
              </div>

              <p class="pt-2">
                <i class="fas fa-phone text-red-insat"></i>
                {{ user.phone }}
              </p>

              <div class="col-lg-6 container-fluid mt-4" *ngIf="user.role == 'student'" >
                <button
                  type="button"
                  class="btn btn-primary btn-lg btn-block"
                
                >
                  Mon sujet
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-0 pt-md-4 col-xl-8 ">
          <div class="card shadow p-5">
            <div class="">
              <h3 class="text-left">Changer le mot de passe</h3>
              <form #change_password="ngForm">
                <div class="form-group">
                  <label class="form-control-label" for="old_pwd"
                    >Ancien mot de passe</label
                  >
                  &nbsp;<i
                    class="ni ni-fat-remove text-red"
                    [hidden]="old_pwd.valid || old_pwd.untouched"
                  ></i>
                  <i
                    class="ni ni-check-bold text-info"
                    [hidden]="!old_pwd.valid"
                  ></i>

                  <input
                    type="password"
                    name="old_pwd"
                    class="form-control form-control-alternative"
                    ngModel
                    #old_pwd="ngModel"
                    placeholder="Old password"
                    minlength="8"
                    required
                  />
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="new_pwd"
                        >Nouveau mot de passe</label
                      >
                      &nbsp;<i
                        class="ni ni-fat-remove text-red"
                        [hidden]="new_pwd.valid || new_pwd.untouched"
                      ></i>
                      <i
                        class="ni ni-check-bold text-info"
                        [hidden]="!new_pwd.valid"
                      ></i>
    
                      <input
                        type="password"
                        name="new_pwd"
                        class="form-control form-control-alternative"
                        ngModel
                        #new_pwd="ngModel"
                        placeholder="Firstname"
                        required
                        minlength="8"

                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="r_new_pwd"
                        >Répter nouveau mot de passe</label
                      >
                      &nbsp;<i
                        class="ni ni-fat-remove text-red"
                        [hidden]="r_new_pwd.valid || r_new_pwd.untouched"
                      ></i>
                      <i
                        class="ni ni-check-bold text-info"
                        [hidden]="!r_new_pwd.valid"
                      ></i>
    
                      <input
                        type="password"
                        name="r_new_pwd"
                        class="form-control form-control-alternative"
                        placeholder="Repeat New Password"
                        ngModel
                        required
                        #r_new_pwd="ngModel"
                        minlength="8"

                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 container-fluid mt-4">
                  <button
                    type="button"
                    class="btn btn-primary btn-lg btn-block"
                    [disabled]="change_password.invalid"
                    (click)="changePassword(change_password)"
                    
                    
                  >
                    Changer le mot de passe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
