<!-- begin:: Error -->
<div
  class="error error-6 d-flex flex-row-fluid bgi-size-cover bgi-position-center"
  style="
    background-image: url(./assets/img/error.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <!-- begin:: Content -->
  <div
    class="d-flex flex-column flex-row-fluid text-center"
    style="width: 100%"
  >
    <h1
      class="error-title font-weight-boldest text-white mb-12"
      style="margin-top: 12rem; font-size: 5rem !important"
    >
      Oops...
    </h1>
    <p
      class="display-4 font-weight-bold text-white"
      style="font-size: calc(1.375rem + 1.5vw) !important"
    >
      Looks like something went wrong.<br />
      We're working on it
    </p>
  </div>
  <!-- end:: Content -->
</div>
<!-- end:: Error -->
