
<div style="padding-bottom: 10px ;">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Sujet: <span class="h4 font-weight-bold mb-0">{{pfe.title}}</span></h5>
            <h5 class="card-title text-uppercase text-muted mb-0">Filiére: <span class="h4 font-weight-bold mb-0">{{pfe.filiere}}</span></h5>
            <h5 class="card-title text-uppercase text-muted mb-0">Année: <span class="h4 font-weight-bold mb-0">{{pfe.annee}}</span></h5>
            <h5 class="card-title text-uppercase text-muted mb-0">Etudiant: <span class="h4 font-weight-bold mb-0"> {{pfe.etudiant}} </span></h5>
            <h5 class="card-title text-uppercase text-muted mb-0">Encadrant: <span class="h4 font-weight-bold mb-0"> {{pfe.encadrant}} </span></h5>
            <h5 class="card-title text-uppercase text-muted mb-0">Entreprise: <span class="h4 font-weight-bold mb-0"> {{pfe.entreprise}} </span></h5>            
          </div>
        </div>
      </div>
    </div>
  </div>