<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">utilisateurs</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-primary" (click)="addUser()">
                Ajouter un utilisateur
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom Complet</th>
                <th scope="col">Email</th>
                <th scope="col">Numero de téléphone</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let user of users">
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >{{ user.firstname }} {{ user.lastname }}</span
                      >
                    </div>
                  </div>
                </th>
                <td>
                  {{ user.email }}
                </td>
                <td>
                  {{ user.phone }}
                </td>
                <td>
                  {{ user.role | uppercase }}
                </td>

                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <div
                      ngbDropdownMenu
                      class="dropdown-menu-right dropdown-menu-arrow"
                    >
                      <span class="row m-2" >
                       <i class="fas fa-edit text-lg text-yellow"  (click)="editUser(user.id)"></i>
                       </span>
                      <span class="row m-2" >
                        <i class="fas fa-trash-alt text-lg text-danger" (click)="deleteUser(user.id)"></i
                      ></span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>