<div class="container-fluid mt--7">

<div>
      <div class="card bg-secondary shadow mt-2 " >
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Modifier un utilisateur</h3>
            </div>
            <div class="col-4 text-right">
              <button href="#!" class="btn btn-sm btn-btn-insat" (click)="exit()">
                Exit
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #editUser="ngForm">
            <h6 class="heading-small text-muted mb-4">Informations d'utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="firstname"
                      >Prénom</label
                    >
                    &nbsp;<i
                      class="ni ni-fat-remove text-red"
                      [hidden]="firstname.valid || firstname.untouched"
                    ></i>
                    <i
                      class="ni ni-check-bold text-info"
                      [hidden]="!firstname.valid"
                    ></i>
  
                    <input
                      type="text"
                      name="firstname"
                      class="form-control form-control-alternative"
                      ngModel="{{user.firstname}}"
                      #firstname="ngModel"
                      placeholder="Firstname"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="lastname"
                      >Nom</label
                    >
                    &nbsp;<i
                      class="ni ni-fat-remove text-red"
                      [hidden]="lastname.valid || lastname.untouched"
                    ></i>
                    <i
                      class="ni ni-check-bold text-info"
                      [hidden]="!lastname.valid"
                    ></i>
  
                    <input
                      type="text"
                      name="lastname"
                      class="form-control form-control-alternative"
                      placeholder="Lastname"
                      ngModel="{{user.lastname}}"
                      required
                      
                      #lastname="ngModel"
                    />
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="email"
                      >Adresse email</label
                    >
                    &nbsp;<i
                      class="ni ni-fat-remove text-red"
                      [hidden]="email.valid || email.untouched"
                    ></i>
                    <i
                      class="ni ni-check-bold text-info"
                      [hidden]="!email.valid"
                    ></i>
  
                    <input
                      type="email"
                      name="email"
                      email
                      class="form-control form-control-alternative"
                      placeholder="Email Address"
                      required
                      ngModel="{{user.email}}"
                      #email="ngModel"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="cin">CIN</label>
                    &nbsp;<i
                      class="ni ni-fat-remove text-red"
                      [hidden]="cin.valid || cin.untouched"
                    ></i>
                    <i
                      class="ni ni-check-bold text-info"
                      [hidden]="!cin.valid"
                    ></i>
                    <input
                      type="number"
                      name="cin"
                      class="form-control form-control-alternative"
                      ngModel="{{user.cin}}"
                      placeholder="CIN"
                      #cin="ngModel"
                      required
                      minlength="7"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="phone"
                      >Numero de téléphone</label
                    >
                    &nbsp;<i
                      class="ni ni-fat-remove text-red"
                      [hidden]="phone.valid || phone.untouched"
                    ></i>
                    <i
                      class="ni ni-check-bold text-info"
                      [hidden]="!phone.valid"
                    ></i>
                    <input
                      type="tel"
                      name="phone"
                      class="form-control form-control-alternative"
                      placeholder="Phone Number"
                      ngModel="{{user.phone}}"
                      #phone="ngModel"
                      required
                      minlength="8"
                    />
                  </div>
                </div>
              </div>
            </div>
          
  
     
  

            <div class="col-lg-6 container-fluid mt-4">
              <button
                type="button"
                class="btn btn-btn-insat btn-lg btn-block"
                (click)="onSubmit(editUser)"
              >
                Modifier l'utilisateur
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  