<div class="container-fluid mt--7">

  <div class="row">
    <div class="col-xl order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Update Soutenance </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form #formulaire="ngForm">
            <!-- <h6 class="heading-small text-muted mb-4">Informations sur le sujet </h6>-->
            <div class="pl-lg-4">
              <!--   <div class="row">
                   <div class="col-lg-12">
                     <div class="form-group">
                       <label class="form-control-label" for="input-subject">Intitulé du sujet</label>
                       <input required type="text" id="input-subject" [(ngModel)] name="subject" class="form-control form-control-alternative" placeholder="nom du sujet" >
                     </div>
                   </div>
                 </div>-->

              <!--   <hr class="my-4" />-->
              <h6 class="heading-small text-muted mb-4">Informations sur l'étudiant </h6>
              <div class="row">
                <div class="col-lg">
                  <div class="form-group">
                    <label class="form-control-label" for="inscription">Num. d'inscription</label>
                    <input type="number" id="inscription"
                           [(ngModel)]="soutenance.insNumber" name="insNumber"
                           class="form-control form-control-alternative"
                           placeholder="num inscription">
                  </div>
                </div>

              </div>
              <div *ngIf="userResult">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >Nom : </label>
                      {{userResult.lastname}}
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label">Prénom : </label>
                      {{userResult.firstname}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >email : </label>
                      {{userResult.email}}
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="subjectResult">
                    <div class="form-group">
                      <label class="form-control-label" >intitulé du sujet : </label>
                      {{subjectResult.title}}
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Date et Heur de la soutenance</h6>
            <div class="pl-lg-4">
              <!--  <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-salle">Salle de conférence</label>
                      <input id="input-salle"  [(ngModel)] name="salle" class="form-control form-control-alternative" placeholder="salle de conférence"  type="text">
                    </div>
                  </div>
                </div>-->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-date">Date de la soutenance</label>
                    <input type="date" id="input-date" [(ngModel)]="soutenance.date" name="date" class="form-control form-control-alternative" placeholder="JJ//MM/yyyy" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-hour">Heur de la soutenance</label>
                    <input type="time" id="input-hour" [(ngModel)]="soutenance.heur" name="heur"  class="form-control form-control-alternative" placeholder="Country" value="United States">
                  </div>
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <!-- Jury -->
            <h6 class="heading-small text-muted mb-4">Membres de jury</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-pres-jury">Président de Jury</label>
                    <input type="text" id="input-pres-jury" name="presidentJury" [(ngModel)]="soutenance.nom_presidentJury"
                           class="form-control form-control-alternative" placeholder="email du président de jury" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-mone-jury">Examinateur</label>
                    <input type="text" id="input-mone-jury" name="examinateur" [(ngModel)]="soutenance.nom_examinateur"
                           class="form-control form-control-alternative" placeholder="email de l'examinateur" >
                  </div>
                </div>
                <!--              <div class="col-lg-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-mtwo-jury">Membre 2</label>
                                  <input type="text" id="input-mtwo-jury" name="mtwo-jury" [(ngModel)] class="form-control form-control-alternative" placeholder="membre n°2 de jury" >
                                </div>
                              </div>-->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 container-fluid mt-4">
                <button class="btn btn-primary btn-lg btn-block"  (click)="modifierSoutenance()"
                        [disabled]="formulaire.invalid">Modifier</button>
              </div>


            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
